.table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    max-width: 1140px;
    min-width: 300px;
    /* height: 400px; */
    margin: 0 auto;
    color: #fff;
}

.spinner, .spinner2{
    position: absolute;
    top: 48%;
    left: 49%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left-color: rgba(255, 0, 0, 0.6);
    /* border-right-color: rgb(10, 10, 10, 0.5); */
    animation: spin 1s ease-in infinite;
}

.spinner2{
    position: fixed;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


@media(max-width: 425px){

    .table{
        margin-bottom: 1rem;
    }

}