.carta{
    width: 100px;
    height: 100px;
    margin: 8px 2px;
}

.ReactFlipCard{
    width: 100%;
    height: 100%;
}

.front{
    width: 100px;
    height: 100px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/51/Pokebola-pokeball-png-0.png');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: #00b7ff;
}

.back{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 240, 240, .8);
}

.img{
    width: 100%;
}

@media(max-width: 1024px){

    .carta{
        width: 85px;
        height: 85px;
        margin: 5px;
    }

    .front{
        width: 85px;
        height: 85px;
    }
    
    .back{
        width: 85px;
        height: 85px;
    }
}

@media(max-width: 768px){

    .carta{
        width: 70px;
        height: 70px;
        margin: 5px;
    }

    .front{
        width: 70px;
        height: 70px;
    }
    
    .back{
        width: 70px;
        height: 70px;
    }
}

@media(max-width: 425px){

    .carta{
        width: 58px;
        height: 58px;
        margin: 4px 3px;
    }

    .front{
        width: 58px;
        height: 58px;
    }
    
    .back{
        width: 58px;
        height: 58px;
    }

}