header{
    width: 90%;
    max-width: 1140px;
    height: 50px;
    border: 1px solid white;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 3rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-radius: 10px;
}

.reset-button{
    display: flex;
    align-items: center;
}

.button-reset{
    color: #ff0000;
    padding: 5px 10px;
    background-color: transparent;
    font-size: 16px;
    border: 1px solid #ff0000;
    border-radius: 10px;
    cursor: pointer;    
}

.title{
    font-size: 30px;
    color: #fff;
}

.try{
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #ff0000;
}

.try b{
    margin-left: 5px;
}

@media(max-width: 425px){

    header{
        width: 90%;
        padding: 0 15px;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .title{
        display: flex;
        align-items: center;
        font-size: 1rem;
    }

    .try{
        font-size: 12px;
    }

    .button-reset{
        font-size: 10px;
    }

}