header{
    width: 90%;
    max-width: 1090px;
    height: 50px;
    border: 1px solid white;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.button-reset{
    height: fit-content;
    color: #ff0000;
    padding: 5px 10px;
    background-color: transparent;
    font-size: 16px;
    border: 1px solid #ff0000;
    border-radius: 10px;
    cursor: pointer;    
}

.title{
    font-size: 30px;
    color: #fff;
}

.try{
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #ff0000;
}

.try b{
    margin-left: 5px;
}
